<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="baseDir">/var/mail</Property>
    </Properties>
    <Appenders>
        <!-- this is a CLI tool, so we should log to console as-is -->
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <!-- show context information in the application log -->
        <RollingFile name="SampleNotificatorLog" fileName="${baseDir}/sample-notificator.log" filePattern="${baseDir}/sample-notificator-%d{MM-dd-yyyy}.log.gz">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%level] [%logger{1}] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="SysOut" level="INFO"/>
            <AppenderRef ref="SampleNotificatorLog" level="ALL"/>
        </Root>
    </Loggers>
</Configuration>
