mysql.host = ...
mysql.pass = ...
mysql.user = ...
mysql.db = ...
mysql.port = ...
services.subscriptions.password = ...
services.subscriptions.tokengeneration.endpoint = ...
services.subscriptions.url = ...
services.subscriptions.user = ...
portal.unsubscription.baseurl = ...
